* {
    font-family: Arial, Helvetica, sans-serif
  }

body{
    background-color: rgb(240, 240, 240);
}

.container{
    max-width: 500px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

.theme{
    max-width: 500px;
    margin: 3vh auto 0 auto;
}

.changeTheme{
    font-size: 20px;
}

.themeDark {
    background: #3d3d3d;
    color: rgb(255, 255, 255);
    }
    
.display {
    text-align: right;
    height: 60px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.btn-dot:hover,
.btn-operator:hover,
.btn-equal:hover
 {
    background: #48642f;
    color: white;
}

.btn-clear:hover{
    background: #912424;
    color: white;
}

.btn-number:hover {
    background: #3d387c;
    color: white;
}